---
import { siteConfig } from '../data/site-config';

const { giscus } = siteConfig;
---

{giscus.repo && giscus.repoId && giscus.categoryId && (
  <div class="post-footer" id="comments">
    <script
      src="https://giscus.app/client.js"
      data-repo={giscus.repo}
      data-repo-id={giscus.repoId}
      data-category={giscus.category}
      data-category-id={giscus.categoryId}
      data-mapping={giscus.mapping}
      data-strict="0"
      data-reactions-enabled={giscus.reactionsEnabled ? '1' : '0'}
      data-emit-metadata="0"
      data-input-position="top"
      data-theme="preferred_color_scheme"
      data-lang="ko"
      data-loading="lazy"
      crossorigin="anonymous"
      async
    ></script>
  </div>
)}